*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    overflow-x: hidden;
    line-height: 1.6;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #383838;
    background: #f9f9f9;
    perspective: 1px;
    transform-style: preserve-3d;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Container*/
.container {
    /*max-width: 1200px;*/
    width: 100%;
}

/*Intro*/

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-style: inherit;
    background: url(./source/img/header-bakground.jpg) center no-repeat;
    background-size: cover;
}

.intro__title {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-bottom: 8px;
}

.intro__iner {
    padding: 6.5% 0 6.5% 0;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    margin-left: 22%;
}

.intro__suptitle {
    font-size: 12.5px;
    text-align: center;
    font-weight: normal;
    line-height: 1;
    margin-right: 17px;
}

.intro__subtitle {
    font-size: 12.5px;
    text-align: center;
    font-weight: normal;
    background-color: #383838;
    border-radius: 5px;
    color: white;
    padding: 8px;
    line-height: 1;
}

.intro__subtitle_first {
    color: #00a99d;
}

.intro__subsubtitle {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    line-height: 1;
    margin-top: 10px;
}

.intro__subsubtitle_first {
    color: #00a99d;
}

.intro__icon {
    width: 50px;
    height: 50px;
    margin-left: 45%;
}

/*HEADER*/

.header {
    position: sticky;
    top: 0;
    background: #F9F9F9;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-color: #dedede;
    border-bottom-style: solid;
}

.header__iner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0.7% 0% 0.7% 0%;
    color: #9b9c9c;
    margin-left: 15.5%;
    display: flex;
}

.logo__icon {
    height: 30px;
    width: 30px;
}

/*NAV*/
#nav {
    margin: 0.7% 0% 0.7% 0%;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15%;
}

.nav__link {
    color: #606060;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    margin: 0 5px;
    margin-left: 2%;
}

.nav__link:hover {
    color: #e4e4e4;
    transition-duration: 0.3s;
    background: #00a99d;
    border-radius: 5px;
}

.burger {
    display: none;
}

/*Section*/
.section {
    padding: 9% 0 9% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.Read_more_popup_1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.Read_more_popup_2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.Read_more_popup_3 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.Read_more_popup_1:target {
    opacity: 1;
    visibility: visible;
}

.Read_more_popup_2:target {
    opacity: 1;
    visibility: visible;
}

.Read_more_popup_3:target {
    opacity: 1;
    visibility: visible;
}

.popup_1 {
    position: absolute;
    width: 50%;
    height: 75%;
    margin-left: 25%;
    background: #9b9c9c;
    margin-top: 10%;
    Border-radius: 50px/40px;
    overflow-y: auto;
}

.popup_2 {
    position: absolute;
    width: 50%;
    height: 75%;
    margin-left: 25%;
    background: #9b9c9c;
    margin-top: 10%;
    Border-radius: 50px/40px;
    overflow-y: auto;
}

.popup_3 {
    position: absolute;
    width: 50%;
    height: 75%;
    margin-left: 25%;
    background: #9b9c9c;
    margin-top: 10%;
    Border-radius: 50px/40px;
    overflow-y: auto;
}

.popup_close {
    position: absolute;
    margin-left: 50%;
    margin-top: 3%;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.popupimg {
    margin-top: 50px;
    width: 15%;
}

.popup_title {
    margin-top: 10px;
}

.popup_text {
    padding: 30px 50px 30px 50px;
}

.section__title {
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title_arow {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.section__subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #606060;
}

.section__color-word {
    color: #00a99d;
    padding: 0px 5px 0px 5px;
}

.section__content {
    display: flex;
    justify-content: center;
    margin-top: 4.3%;
}

.section__content_card {
    margin-left: 5px;
    color: #606060;
}

.section__content_img {
    width: 85px;
    height: 85px;
    padding: 5px;
}

.section__content_img:hover {
    background: #00a99d;
    border-radius: 25%;
    transition-duration: 0.3s;
}

.section__content_title {
    margin-top: 18px;
    font-size: 13.5px;
}

.section__content_text {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 13px;
    padding: 0px 2px 0px 2px;
}

.section__content_link {
    color: #606060;
    text-decoration: none;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #606060;
}

.section__content_link:hover {
    color: #e4e4e4;
    transition-duration: 0.3s;
    background: #00a99d;
    border-radius: 5px;
}

.section_second {
    padding: 5.7% 0 5.7% 0;
    padding-bottom: 0px;
    background: #383838;
}

.section__title_second {
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section__subtitle_second {
    font-size: 16px;
    font-weight: normal;
    color: #5d5d5d;
}

.section_main_title {
    text-align: center;
}

/*Section_feature*/

.feature__content_card {
    display: flex;
    padding: 6.5%;
    width: 100%;
}

.feature__content_ico {
    width: 50px;
    height: 50px;
    background: #00a99d;
    border-radius: 50%;
    padding: 5px;
}

.feature__supcontent {
    display: flex;
    justify-content: center;
}

.feature__content {
    margin-top: 6%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.feature__content_title {
    font-size: 13px;
    font-weight: bolder;
    color: #e4e4e4;
}

.feature__content_maintext {
    font-size: 13px;
    font-weight: normal;
    color: #7a7a7a;
    margin-top: 10px;
}

.feature__content_text {
    margin-left: 9%;
}

.feature__img {
    margin-left: 115px;
    margin-top: 18px;
}

.feature__img_img {
    width: 100%;
}

/*Section advantages*/

.section__advantages {
    padding: 4%;
}

.section__advantages_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.section__advantages_iner {
    display: flex;
    padding: 18px;
    padding-right: 14px;
}

.section__advantages_icon {
    width: 40px;
    height: 40px;
}

.section__advantages_icon:hover {
    background: #00a99d;
    border-radius: 25%;
    transition-duration: 0.3s;
    padding: 3px;
}

.section__advantages_content {
    margin-left: 15px;
}

.section__advantages_content_title {
    color: #606060;
    font-size: 14px;
    font-weight: bold;
}

.section__advantages_content_subtitle {
    color: #cacaca;
    font-size: 12px;
    font-weight: normal;
}

.section__advantages_content_text {
    color: #7a7a7a;
    font-size: 14px;
    font-weight: normal;
    margin-top: 12px;
}

/*Section Skills*/

.section__skills {
    padding: 5.5% 0 5.5% 0;
    background: #383838;
    padding-bottom: 5.3%;
}

.section__skills_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.section__skills_number {

    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    padding: 25px;
    width: 100px;
    height: 100px;
}

.section__skills_number::before {
    content: '';
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #ccc;
    z-index: 3;
    opacity: 1;
}

.section__skills_num {
    color: white;
    font-size: 28px;
    font-weight: bolder;
}

.section__skills_text {
    color: #8a8a8a;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.section__skills_items {
    padding: 30px;
    width: 100%;
}

.percent {
    font-size: 15px;
    font-weight: normal;
}

/*Section Gallery*/

.section__Gallery {
    padding: 5.7% 0 5.7% 0;
    text-align: center;
}

#section__Gallery_imggroup {
    margin-top: 50px;
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3px;
}

.gallery_hiden {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3px;
}

.galery_item {
    width: 100%;
    height: 98%;
    margin: 1px;
    justify-content: center;
    text-align: center;
    position: relative;

}

.galery_content {
    align-items: center;
    width: 100%;
    height: 96%;
    position: absolute;
    color: white;
    opacity: 0;
    background: #00a99d;
    bottom: 4%;
    border-radius: 3%;
}

.galery_item:hover .section__Gallery_img {
    opacity: 25%;
    transition-duration: 0.3s;
}

.galery_item:hover .galery_content {
    opacity: 1;
    transition-duration: 0.3s;
}

.galery_name {
    margin-top: 15px;
}

.galery_ganre {
    font-size: 11px;
}

.galery_like {
    margin-top: 10px;
}

.galery_icon1 {
    margin-top: 15%;
    width: 10%;
}

.section__Gallery_img {
    width: 100%;
    border-radius: 3%;
    position: relative;
}

.section__Gallery_btn-viev {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#gallery_hiden {
    display: none;
}

.section__Gallery_btn {
    text-decoration: none;
    color: #5d5d5d;
    font-size: 13px;
    font-weight: bold;
    border-width: 1.5px;
    border-style: solid;
    border-color: #5d5d5d;
    border-radius: 40px/30px;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.section__Gallery_btn:hover {
    color: #e4e4e4;
    background: #00a99d;
    transition-duration: 0.3s;
}

/*Section Facts*/

.section__Facts {
    background: #383838;
    padding: 5.7% 0 5.7% 0;
    text-align: center;
}

.section__Facts_content {
    display: flex;
    justify-content: center;
}

.section__Facts_content_up {
    display: flex;
    justify-content: center;
}

.section__Facts_content_down {
    display: flex;
    justify-content: center;
}

.section__Facts_number {
    font-size: 80px;
    font-weight: normal;
    font-style: italic;
    color: #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #606060;
}

.section__Facts_text {
    color: #606060;
    font-size: 14px;
    margin-top: 18px;
}

.section__Facts_items {
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
}

.month {
    font-size: 8px;
    font-weight: normal;
}

/*Information Line*/

.information_line {
    padding: 2% 0 2% 0;
    background: #00a99d;
}

.information_line_content {
    display: flex;
    justify-content: center;
}

.information_line_text {
    width: 60%;
    margin-left: 8%;
}

.information_line_maintext {
    font-size: 14px;
    color: #e4e4e4;
}

.information_line_btn {
    width: 40%;
    margin-left: 25%;
}

.information_line_btn1 {
    padding: 5%;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: bold;
    color: #606060;
    background: #e4e4e4;
    border-radius: 5%;
    margin-right: 5px;
}

.information_line_btn1:hover {
    background: #606060;
    color: #e4e4e4;
    transition-duration: 0.3s;
}

/*Section Team*/

.section__team {
    width: 100%;
    padding: 5.7% 0 5.7% 0;
    text-align: center;
}

.member_item {
    justify-content: center;
    text-align: center;
    background: #00a99d;
    position: relative;
}

.member_social_img {
    width: 10%;
}

.member_social {
    margin-top: 100px;
    position: absolute;
    opacity: 0;
}

.member_item:hover .section__team_img {
    opacity: 25%;
    transition-duration: 0.3s;
}

.member_item:hover .member_social {
    opacity: 1;
    transition-duration: 0.3s;
}

.section__team_members {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3px;
    margin-top: 25px;
}

.section__team_member {
    width: 100%;
    text-align: center;
}

.section__team_content {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.section__team_member {
    border-color: #dedede;
    border-width: 1px;
    border-style: solid;
}

.section__team_img {
    width: 100;
}

.team_img {
    width: 100%;
}

.team_name {
    font-family: Raleway;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    color: #e4e4e4;
    text-decoration: none;
    background-color: #00a99d;
    padding: 8px;
}

.team_name:hover {
    background: #383838;
    color: #e4e4e4;
    transition-duration: 0.3s;
}

.section__team_name {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.team_func {
    font-family: Raleway;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    color: #606060;
    margin-left: 5px;
    padding: 5px;
    border-bottom-color: #dedede;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

.section__team_contact {
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    width: 100%;
}

.tean_email {
    text-decoration: none;
    color: #aaaaaa;
}

.tean_email:hover {
    color: #00a99d;
    transition-duration: 0.3s;
}

.team_tel {
    text-decoration: none;
    color: #aaaaaa;
}

.team_tel:hover {
    color: #00a99d;
    transition-duration: 0.3s;
}

.mail__img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.phone__img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.mail {
    margin-top: 10px;
}

/*Section__Quotes*/

.section__quotes {
    background: #00a99d;
    padding: 5.7% 0 5.7% 0;
}

.section__quotes_main {
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
}

.section__quotes_name {
    text-align: center;
    width: 100%;
}

.quotes_name {
    margin-left: 30%;
    width: 40%;
    font-size: 13px;
    color: #00a99d;
    background: #f9f9f9;
    padding: 8px 5px 8px 5px;
    border-radius: 5px/15px;
}

.quotes_func {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #aaaaaa;
}

.section__quotes_text {
    margin-top: 15px;
}

.quotes_text {
    font-size: 17px;
    color: #f9f9f9;
}

.kov {
    font-size: 20px;
}

.section__quotes_btn {
    display: flex;
    justify-content: center;
}

.quotes_content_2 {
    text-align: center;
    display: none;
}

.quotes_content_1 {
    text-align: center;
}

.quotes_btn {
    margin-top: 4%;
    height: 30px;
    width: 3%;
    padding: 8px;
    margin: 5px;
    margin-top: 30px;
    background: #dedede;
    border-radius: 25%;
}

.quotes_btn:hover {
    background: #5d5d5d;
    transition-duration: 0.3s;
    cursor: pointer;
}


/*Karusel*/

.section__karusel {
    background: #383838;
    padding: 1.5% 0 1.5% 0;
}

.karusel {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.karusel_main {
    position: relative;
    display: flex;
    justify-content: center;
}

.karusel_img {
    width: 260px;
    padding: 10px;
    opacity: 50%;
}

.karusel_btn {
    height: 40px;
    width: 3%;
    padding: 10px;
    background: #dedede;
    border-radius: 25%;
    margin-top: 4%;
}

.karusel_btn:hover {
    background: #5d5d5d;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*Section Price*/

.section__price {
    text-align: center;
    padding: 5.7% 0 5.7% 0;
    position: relative;

}

.price__form-pay {
    width: 50%;
    background: #5d5d5d;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    border-radius: 25px/18px;
    padding: 4% 0 4% 0;
}

.pay_close {
    font-size: 25px;
    text-decoration: none;
    color: #373737;
    position: absolute;
    left: 93%;
    top: 5%;
}

#Form_pay_1 {
    opacity: 0;
    visibility: hidden;
}

#Form_pay_2 {
    opacity: 0;
    visibility: hidden;
}

#Form_pay_3 {
    opacity: 0;
    visibility: hidden;
}

#Form_pay_4 {
    opacity: 0;
    visibility: hidden;
}

#Form_pay_1:target {
    opacity: 1;
    visibility: visible;
}

#Form_pay_2:target {
    opacity: 1;
    visibility: visible;
}

#Form_pay_3:target {
    opacity: 1;
    visibility: visible;
}

#Form_pay_4:target {
    opacity: 1;
    visibility: visible;
}

.form-pay_lable {
    font-size: 25px;
    margin-bottom: 10%;
}

.form-pay_content {
    display: flex;
    justify-content: center;
}

.number_card {
    width: 79%;
}

.month_card,
.year_card,
.ccv_card {
    width: 20%;
}

.card_info {
    display: flex;
    justify-content: space-between;
    margin: 2% 10.2% 2% 10.2%;
}

.password {
    margin: 2% 0 2% 0;
}

.name-card {
    width: 79%;
}

.pay_btn {
    margin: 5px;
    margin-top: 10%;
}

.pay_btn1 {
    text-decoration: none;
    color: #373737;
    border: #373737 2px solid;
    padding: 5px 20px 5px 20px;
    border-radius: 5px/10px;
    font-weight: bold;
    cursor: pointer;
}

.pay_btn1:hover {
    background: #00a99d;
    border-radius: 5px/10px;
    transition-duration: 0.3s;
}

.prices {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3px;
    justify-content: center;
    justify-items: center;
}

.prices__group {
    display: flex;
    justify-content: center;
}


.prices_block_up {
    display: flex;
    justify-content: center;

}

.prices_block_down {
    display: flex;
    justify-content: center;
}

.prices_block {
    width: 90%;
    padding: 0px 2% 0px 2%;
    border-color: #e4e4e4;
    border-width: 1px;
    border-style: solid;
}

.prices_list {
    width: 100%;
    padding-bottom: 15px;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.prices_list1 {
    margin-top: 10px;
}

.prices_list2 {
    list-style-type: none;
    padding: 7px;
    color: #8A8A8A;
    font-size: 14px;
}

.prices_title {
    background: #383838;
    font-size: 13px;
    font-weight: bold;
    color: #DFDFDF;
    padding: 10px 0px 10px 0px;
    border-radius: 5px/10px;
    width: 75%;
    margin-left: 15%;
}

.prices_title:hover {
    background: #00a99d;
    transition-duration: 0.3s;
}

.price_bold {
    font-size: 57px;
    font-weight: bold;
    color: #373737;
}

.prices_price {
    width: 100%;
    color: #8A8A8A;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

sup {
    font-size: 18px;
}

.prices_btn {
    padding: 8px 0px 8px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px/10px;
    background: #00a99d;
    width: 70%;
    margin-left: 15%;
}

.prices_btn1 {
    text-decoration: none;
    color: #F9F9F9;
    font-weight: bold;
    font-size: 13px;
}

.prices_btn:hover {
    background: #383838;
    transition-duration: 0.3s;
}

/*Section Reklama*/

.section__reklama {
    width: 100%;
    /*height: 160px;*/
    background: url(./source/img/Oblaka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.reklama {
    width: 95%;
    display: flex;
    padding-left: 80px;
}

.reklama_flex {
    display: flex;
    justify-content: space-between;
}

.reklama_img {
    width: 170px;
    height: 170px;
}

.reklama_text {
    padding: 7% 0% 7% 3%;
    font-size: 22px;
    color: #38383A;
}

.reklama_flex {
    display: flex;
}

.reklama_btn {
    width: 16%;
    height: 8%;
    padding: 1% 0.5% 1% 0.5%;
    display: flex;
    justify-content: space-between;
    background: #00a99d;
    margin: 5% 10% 5% 0px;
    border-radius: 5px/10px;
}

.reklama_btn:hover {
    background: #383838;
}

.reklama_btn1 {
    font-weight: bold;
    font-size: 13px;
    color: #F9F9F9;
    text-decoration: none;
    height: 20px;

}

.reklama_ico {
    margin-left: 10px;
    width: 10%;
}

/*Futer*/

.Futer {
    background: #383838;
    padding: 60px 0px 60px 0px;
}

.Futer_social {
    justify-content: center;
    display: flex;
}

.Futer_social_img {
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 3px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 25%;
}

.Futer_social_img:hover {
    background: #00a99d;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Futer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.Logo_name {
    color: #A5A5A5;
    font-size: 15px;
    font-weight: normal;
    margin-top: 7px;
}

.Futer_logo__icon {
    width: 25px;
    height: 25px;
}

.heart {
    color: #00a99d;
}

.Down__Futer {
    background: #383838;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

.Down__Futer_text {
    color: #9b9c9c;
    margin-top: 10px;
}

.Map_btn {
    background: #383838;
    font-size: 13px;
    font-weight: bold;
    color: #DFDFDF;
    padding: 10px 3px 10px 3px;
    border-radius: 5px/10px;
    width: 75%;
}

.Map_btn:hover {
    background: #00a99d;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Map {
    display: none;
}

.Map__main {
    width: 100%;
    height: 500px;
}

.Empty {
    display: none;
}

.W3_CSS {
    margin: 10px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1150px;
    }

    .reklama_btn {
        width: 20%;
    }
}

@media (max-width: 1080px) {
    .karusel_img {
        width: 240px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 967px;
    }

    .feature__img {
        display: none;
    }

    .feature__supcontent {
        justify-content: center;
    }

    .information_line_text {
        margin-left: 0%;
    }

    .information_line_btn {
        margin-left: 0%;
    }

    .karusel_img {
        width: 220px;
        padding: 10px;
        opacity: 50%;
    }

    .karusel_main {
        flex-wrap: wrap;
    }

    .prices {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .prices_block {
        margin-top: 1%;
    }

    .section__team_members {
        flex-wrap: wrap;
    }

    .section__skills_items_up,
    .section__skills_items_down {
        flex-wrap: wrap;
    }

    .section__Facts_content_up,
    .section__Facts_content_down {
        flex-wrap: wrap;
    }

    .feature__content {
        display: flex;
    }

    .reklama {
        padding-left: 10px;
    }

    .reklama_btn {
        margin: 5% 5% 5% 0px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 900px;
    }

    .nav {
        margin-left: 10%;
    }

    #section__Gallery_imggroup {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .gallery_hiden {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .section__team_members {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .section__skills_content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #karusel_img_4 {
        display: none;
    }

}

@media(max-width: 880px) {
    .reklama_img {
        display: none;
    }

    .reklama {
        width: 68%;
    }
}

@media(max-width: 820px) {
    .burger {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-top: 10px;
    }

    .burger::before,
    .burger::after,
    .burger span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: 0.3s;
        background-color: #383838;
    }

    .burger::before,
    .burger::after {
        content: "";
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .burger:hover .nav {
        display: block;
        opacity: 1;
    }

    .nav__link {
        display: block;
        margin-left: 15px;
    }

    #nav {
        width: 100%;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        display: none;
        opacity: 0;
        margin-right: 15px;
    }

    .prices {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {

    .section__Facts_content {
        display: block;
    }

    .information_line_text {
        margin-left: 0%;
    }

    .information_line_btn {
        margin-left: 0.17%;
    }

    .container {
        max-width: none;
    }

    .galery_name {
        margin-top: 5px;
    }

    .information_line_text {
        display: none;
    }

    .information_line_btn {
        width: 95%;
        margin-left: 8%;
    }

    .information_line_btn1 {
        padding: 2%;
    }

    .section__advantages_main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .feature__content {
        display: block;
    }


}

@media (max-width: 700px) {
    #karusel_img_3 {
        display: none;
    }

    .Futer_social_img {
        width: 25px;
        height: 25px;
    }

    .reklama {
        display: none;
    }

    .reklama_flex {
        justify-content: center;
    }

    .reklama_btn {
        width: 30%;
    }
}

@media (max-width: 610px) {
    .intro__iner {
        margin-left: 0%;
    }

    .section__team_members {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .intro {
        background-size: auto;
    }
}

@media (max-width: 580px) {

    .section__advantages_top,
    .section__advantages_bottom {
        flex-wrap: wrap;
    }

    .reklama {
        padding-left: 0px;
    }

    .reklama_text {
        display: none;
    }

    .prices_price {
        width: 100%;
    }

    .reklama_btn1 {
        display: none;
    }

    .popup_1,
    .popup_2,
    .popup_3 {
        width: 90%;
        margin-left: 5%;
    }

    .information_line_text {
        display: none;
    }

    .information_line_btn {
        width: 95%;
        margin-left: 8%;
    }

    .information_line_btn1 {
        padding: 2%;
    }

    .section__quotes_main {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }

    .section__reklama {
        display: none;
    }

    .section__skills_items {
        display: block;
    }

    .section__skills_number {
        margin-left: 30%;
    }

    .price__form-pay {
        width: 100%;
        top: 30%;
        left: 0;
    }
}

@media (max-width: 540px) {

    .prices_block_up,
    .prices_block_down {
        display: flex;
        flex-direction: column;
    }

    .prices_block {
        padding: 0px 0% 0px 0%;
        width: 85%;
        margin-left: 7%;
        margin-right: 1%;
        text-align: center;
    }

    .section__skills_content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .section__advantages_main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 490px) {
    #section__Gallery_imggroup {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .gallery_hiden {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #karusel_img_2 {
        display: none;
    }
}

@media (max-width: 420px) {
    .title_arow {
        display: none;
    }

    #section__Gallery_imggroup {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .gallery_hiden {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .section__skills_content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .prices {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 350px) {
    .Futer_social_img {
        width: 20px;
        height: 20px;
    }
}